+++
title = "{{ .Title }}"
date = "{{ .Date }}"
tags = [{{ range .Tags }}"{{ . }}", {{ end }}]
categories = [{{ range .Categories }}"{{ . }}", {{ end }}]
draft = false
comments = false
showcomments = false
showpagemeta = true
+++

{{ .Content }}